# Partie 1

In [21]:
import pandas as pd

data = pd.read_csv("input2.txt", delimiter = " ", header = None)
data

           0  1
0    forward  5
1    forward  1
2    forward  3
3       down  8
4         up  6
..       ... ..
995  forward  9
996     down  7
997  forward  6
998     down  6
999  forward  8

[1000 rows x 2 columns]

In [10]:
forward = data[data[0] == "forward"][1].sum()
forward

2091

In [11]:
down = data[data[0] == "down"][1].sum()
down

1782

In [12]:
up = data[data[0] == "up"][1].sum()
up

1061

In [14]:
(down - up)*forward

1507611

# Partie 2

In [91]:
data["aim"] = (data[data[0] == "down"][1].reindex(data.index, fill_value=0) - data[data[0] == "up"][1].reindex(data.index, fill_value=0)).cumsum()
data

           0  1  aim
0    forward  5    0
1    forward  1    0
2    forward  3    0
3       down  8    8
4         up  6    2
..       ... ..  ...
995  forward  9  708
996     down  7  715
997  forward  6  715
998     down  6  721
999  forward  8  721

[1000 rows x 3 columns]

In [110]:
data["x"] = data[data[0] == "forward"][1].cumsum()
data = data.ffill()
data

           0  1  aim       x   depth
0    forward  5    0     5.0     0.0
1    forward  1    0     6.0     0.0
2    forward  3    0     9.0     0.0
3       down  8    8     9.0     0.0
4         up  6    2     9.0     0.0
..       ... ..  ...     ...     ...
995  forward  9  708  2077.0  6372.0
996     down  7  715  2077.0     0.0
997  forward  6  715  2083.0  4290.0
998     down  6  721  2083.0     0.0
999  forward  8  721  2091.0  5768.0

[1000 rows x 5 columns]

In [119]:
data["depth"] = data[data[0] == "forward"][1] * data[data[0] == "forward"]["aim"]
data["depth"] = data["depth"].fillna(0).cumsum()
data

           0  1  aim       x     depth
0    forward  5    0     5.0       0.0
1    forward  1    0     6.0       0.0
2    forward  3    0     9.0       0.0
3       down  8    8     9.0       0.0
4         up  6    2     9.0       0.0
..       ... ..  ...     ...       ...
995  forward  9  708  2077.0  889317.0
996     down  7  715  2077.0  889317.0
997  forward  6  715  2083.0  893607.0
998     down  6  721  2083.0  893607.0
999  forward  8  721  2091.0  899375.0

[1000 rows x 5 columns]

In [120]:
data["depth"].iloc[-1] * data["x"].iloc[-1]

1880593125.0